@model FMS.tbl_Items

@{
    ViewBag.Title = "Delete Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSN_SAC_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSN_SAC_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemUniqueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemUniqueDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseBatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseBatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseMfgDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseMfgDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ItemType.ItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ItemType.ItemType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ItemUnits.MeasuringUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ItemUnits.MeasuringUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Supplier.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
