@model IEnumerable<FMS.tbl_ItemStock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AutoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemwiseDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnitAfterDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPriceBeforeTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SGST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IGST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPriceAfterTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expirydate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Items.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Purchase.PartyInvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Sale.InvoiceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AutoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemwiseDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnitAfterDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPriceBeforeTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SGST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IGST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPriceAfterTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufactureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expirydate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Items.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Purchase.PartyInvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Sale.InvoiceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
